{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row my-4 d-flex align-middle justify-content-center">
            <div class="col-12">
                <h3 class="text-center">Inscription</h3>
            </div>
        </div>
        <div class="row my-4 d-flex align-middle justify-content-center">
            <div class="col-6 mx-auto">
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}